/* ESTILO DEL SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #6f6d70;
    border-radius: 100px;
}

/*ESTILO PAGINA*/

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {
    font-family: Consolas, monospace;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}


header h1 {
    margin: 0 ;
    padding: 0;
    color: #00ff00;
    font-size: 36px;
    text-align: center;
}


header li {
    display: inline;
    margin: 0 10px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.cabezera {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

#cabezaflotante {
    margin-top: 75px;
    width: 550px;
    height: auto;

}

#menu {
    display: flex;
    margin-top: 35px;
    justify-content: center;
}

.opcion {
    padding: 12px;
    margin: -1px;
    text-decoration: none;
    border-bottom: 2pxlid transparent;
    transition: border-bottom 0.3s ease-in-out;
}

.opcion:hover {
    border-bottom: 2px solid #00ff00;
}

.cambiarIdioma{
    display: flex; 
    margin-left: 30px;
    
    
}

/* Añadir el estilo para el interruptor de idioma */

.switch {
    margin: 2px 10px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5c5a5a;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: #00ff00;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #3b3b3b;
}

input:checked+.slider:before {
    transform: translateX(20px);
}


.informacion {
    float: left;
    margin-top: 9%;
    margin-left: 10%;
}

.informacion a {
    text-decoration: none;
}

.logos {
    margin-right: 5px;
    width: 27px;
}

.cv {
    cursor: pointer;
    font-weight: bold;
    width: 100px;
    height: auto;
    padding: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    color: white;
    transition: width 0.5s;
}

.cv:hover {
    width: 130px;
    border: 2px solid white;
    color: #000;
    background-color: white;
}

#contenido {
    width: 90%;
    margin: 0px auto;
    padding: 20px;
}

.presentacion {
    line-height: 1.7;
    padding: 15px 0;

}

h2 {
    color: #00ff00;
}

p {
    margin-bottom: 20px;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
}

.proyecto {
    width: 380px;
    height: 420px;
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    margin-right: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: #ffffff;
    transition: translate 0.3s;
}

.proyecto:hover {
    translate: 0px -10px;
}

.foto-proyecto {
    width: 330px;
    height: auto;
    margin-bottom: 20px;

}

.proyecto h4 {
    margin-bottom: 20px;
    color: #00ff00;
}

.contenedor-creados {
    display: flex;
}

.creados {
    display: flex;
    align-items: center;
    background-color: #373535;
    border-radius: 5px;
    padding: 10px;
    margin: 7px;
    width: 100px;
    height: 35px;

}

.creado {
    margin-right: 5px;
    width: 25px;
    height: auto;
}

.creado-lenguaje {
    margin: 10px;

}



#caja-lenguajes {
    margin-top: 20px;
    margin-bottom: 20px;


}

.lenguajes {
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 20px;
    width: 45%;
    flex-wrap: wrap;

}

.foto-lenguajes {
    width: 100px;
    margin: 20px;
}

#contacto{
    margin-top: 40px;
}
#contenido-contacto{
    margin: 0;
}